*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

body{
    background-color: rgb(11, 1, 1);
}

section ul li {
    text-align: center;
    justify-content: center;
    margin-top: 22%;
}

a{
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    transition: 0.3s;
}

a:hover{
    border: 1px solid darkblue;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(2, 2, 68);
    box-shadow: 1px 2px 2px 2px white;
}